# Methods
- Methods are functions that belong to an object or a class. They perform specific actions or operations on that object.

- Methods are called on an instance of a class

> Syntax:

- To call a method, use object.method_name().
- Example: my_list.append(4) adds 4 to my_list.

**Diff Funtion nd Method** 
- Functions are standalone and donâ€™t belong to an object.
- Methods require an instance

### NOTE
> Not all data types in Python have methods. Only certain data typesâ€”primarily objects that belong to classesâ€”support methods.

- **Data Types with Methods**
    - Stirng 
    - List
    - Dict
    - Tuple
    - Set
     
    
>Primitive types (like integers, floats, and booleans) generally donâ€™t have methods in the same sense but work with operators and built-in functions.

# Methods on string

`find method ` : Used to find index of first occurance of substring from th entire string

In [3]:
# syntax = str.find(substring)

In [5]:
l = "Beautiful girl"
l.find('ti')

4

In [7]:
l.find('f')

6

`Count Method`: use t count number of substring/s in the given string

In [8]:
# syntax = str.count(substring)

In [9]:
d = 'I like pink color'
d.count('i')

2

In [10]:
d.count('l')

2

`split method` : use to split the string based on some seperator

In [12]:
# syntax = str.split(seperator)

In [13]:
e = 'Have a nice day '

In [14]:
e.split(' ')

['Have', 'a', 'nice', 'day', '']

In [16]:
e.split(' _ ')

['Have a nice day ']

In [20]:
e.split(' / ')

['Have a nice day ']

In [22]:
dob = '16/08/2001'
s = dob.split('/')
s

['16', '08', '2001']

In [24]:
dob = '16/08/2001'
s = dob.split('/', 1)
s

#single split

['16', '08/2001']

`replace metod` : create new string with replaced value

In [27]:
a = "knife"
b = a.replace('k', 'w')
b

'wnife'

In [26]:
a

'knife'

In [28]:
b

'wnife'

In [34]:
e = "beautiful day"
e.upper()

'BEAUTIFUL DAY'

In [35]:
e.lower()

'beautiful day'

In [36]:
e.title()

'Beautiful Day'

In [38]:
e.capitalize()

'Beautiful day'

isupper
islower
iscaptilize

In [39]:
e.islower()

True

In [41]:
e.isupper()

False

In [42]:
e.istitle()

False

Alphabet & number

In [44]:
e.isalpha()  #space is there in string

False

In [45]:
e.isdigit()  #there is no number in string

False

In [46]:
l = '78kj'
l.isalpha()

False

In [48]:
l.isdigit()

False

In [49]:
l.isalnum()  #combination of alphabet and number

True

In [52]:
s = 'kijl'
s.isalnum() # either alphabets , or number or combination

True

` If you put 's. and tab press' it will show you all the functions avalible for particular string `

In [ ]:
e.

In [54]:
l = ['5', 'hii', 'ty']
l

['5', 'hii', 'ty']

In [55]:
str(l)

"['5', 'hii', 'ty']"

` join method `is use to join elemts of lists

In [57]:
y = ";".join(l)
y

'5;hii;ty'

#  Methods on Lists

`append method`: append means to add new element at the end of the list

In [8]:
veglist = ['tomato','okra','brinjal','potato','kundru']

In [9]:
veglist.append('flower')

In [10]:
veglist

['tomato', 'okra', 'brinjal', 'potato', 'kundru', 'flower']

In [11]:
veglist.append(56,jk)   # we cannot append two element at a tie in end , it eill show error

NameError: name 'jk' is not defined

In [15]:
veglist.append([45,9])
veglist
# we can add in collection

['tomato', 'okra', 'brinjal', 'potato', 'kundru', 'flower', [45, 9], [45, 9]]

`extend method`: adding collection into the list as element

In [18]:
veglist.extend([23,98])
veglist

['tomato',
 'okra',
 'brinjal',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98,
 23,
 98]

In [20]:
marks =['34','45','90','33']
marks.append(23)
marks

['34', '45', '90', '33', 23]

In [21]:
marks =['34','45','90','33']
marks.extend([23,89,76])
marks

['34', '45', '90', '33', 23, 89, 76]

In [22]:
marks =['34','45','90','33']
marks.extend(['23,89,76'])
marks

['34', '45', '90', '33', '23,89,76']

In [23]:
marks =['34','45','90','33']
marks.append([23,89,76])
marks

['34', '45', '90', '33', [23, 89, 76]]

In [24]:
marks =['34','45','90','33']
marks.append(23,89,76)
marks

TypeError: list.append() takes exactly one argument (3 given)

`Insert method `: used to add data in between the given list

In [25]:
veglist

['tomato',
 'okra',
 'brinjal',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98,
 23,
 98]

In [26]:
veglist.insert(3,'califlower')

In [27]:
veglist

['tomato',
 'okra',
 'brinjal',
 'califlower',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98,
 23,
 98]

In [28]:
marks

['34', '45', '90', '33']

In [29]:
marks.insert(2, '50')

In [30]:
marks

['34', '45', '50', '90', '33']

### CRUD operation

create, read, update , delet

create :
    - apeend
    
     - extend

update

In [32]:
veglist

['tomato',
 'okra',
 'brinjal',
 'califlower',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98,
 23,
 98]

In [33]:
veglist[2] = 'onion'

In [34]:
veglist    #list get updated

['tomato',
 'okra',
 'onion',
 'califlower',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98,
 23,
 98]

read

In [35]:
veglist[3]

'califlower'

delet

In [44]:
# .pop() = it takes index value of the element which we have to pop
# otherwise by default it will take index as (-1)
# Only single element can pop at  time 
# exception : we can use for loop or while loop to pop multiple varible

In [36]:
veglist.pop()  #poping last element from the list

98

In [38]:
veglist # after poping last element its get removed from the list

['tomato',
 'okra',
 'onion',
 'califlower',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98,
 23]

In [40]:
veglist.pop('okra')
veglist

TypeError: 'str' object cannot be interpreted as an integer

In [41]:
x = veglist.pop()   #poped element is getting remoed from the list and getting stored into x varible

In [42]:
x

23

In [45]:
veglist.pop(2)

'onion'

In [46]:
veglist

['tomato',
 'okra',
 'califlower',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98]

In [47]:
veglist.insert(1, 'banana')

In [48]:
veglist

['tomato',
 'banana',
 'okra',
 'califlower',
 'potato',
 'kundru',
 'flower',
 [45, 9],
 [45, 9],
 23,
 98]

In [49]:
marks.insert(3, 'fail')

In [56]:
marks = [23,24,25,26]

In [57]:
p = [10,20,30,40]            # it is adding each element on fixed position  2 , hence it is shifting by 1 
for i in p :
    marks.insert(2, i)
print(marks)

[23, 24, 40, 30, 20, 10, 25, 26]

In [58]:
a = 0
p = [10,20,30,40]
for i in p :
    marks.insert (2 + a, i)
    a += 1
print(marks)

[23, 24, 10, 20, 30, 40, 40, 30, 20, 10, 25, 26]

`remove method`: is used to remove the first occurance oof hte element from the list 
- .remove()

- del ()

- clear ()

In [60]:
marks = [23, 24, 25, 26, 22, 27, 22, 22]
marks.remove(22)
marks

[23, 24, 25, 26, 27, 22, 22]

In [61]:
# removes the element 1st repeted occured element from the list
# difference between pop and removve is : pop depends on index value of the data which we havw to remove 
# remove method is depend on which elemen twe have to remove 
# it will show error if we tried to remove the element which is not present into the list

In [62]:
marks = [23, 24, 25, 25, 26, 22, 27, 22, 22]
marks.remove(25, 22)
marks
# Only one reeocccured element can be removed at a time

TypeError: list.remove() takes exactly one argument (2 given)

In [70]:
marks = [23, 24, 25, 25, 26, 22, 27, 22, 22]
b = 22
if b in marks:
    marks.remove(b)

In [71]:
marks

[23, 24, 25, 25, 26, 27, 22, 22]

In [2]:
marks = [23, 24, 25, 25, 26, 22, 27, 22, 22]
b =int(input('Enter number: '))
if b in marks:
    marks.remove(b)
    print('b')
else         :
    print('element is not present')

Enter number: 90
element is not present

In [8]:
marks = [23, 24, 25, 25, 26, 22, 27,  22, 22]
b =input()
if b.isdigit : b= int(b)    
if b in marks:
    marks.remove(b)   
else         :
    print('element is not present')

34
element is not present

In [7]:
w = 90
del(w)
w
# It shows not defined because it is deleted

NameError: name 'w' is not defined

In [14]:
marks = [23, 24, 25, 25, 26, 22, 27,  22, 22]
del marks[4]
marks
# taking inex value and remove the element from the list

[23, 24, 25, 25, 22, 27, 22, 22]

In [16]:
marks = [23, 24, 25, 25, 26, 22, 27,  22, 22]
marks.clear()
marks
# It will give empty list

[]

## Pop = only taking element `outside` from the list
## Remove = removing the `only first occurance` of the repeated element from the list
## Delet = `deleting` the element from the list
## Clear = removes `all the elements` from the list

`Index method` is similar as find method ,just the difference is find is use for string and index is use for list 

It will give the index value of the first occurance of the element

In [19]:
a = 'I love India'
a.find('o')
#In find function : we have to put the element which have to find into the brackets insted of index no

3

In [26]:
marks = [23, 24, 25, 25, 26, 22, 27,  22, 22]
marks

[23, 24, 25, 25, 26, 22, 27, 22, 22]

In [29]:
marks.index('24')

ValueError: '24' is not in list

`count method ` : is use to count the element in the list

In [31]:
marks = [23, 24, 25, 25, 26, 22, 27,  22, 22]
marks.count(22)

3

In [32]:
marks.count(23)

1

In [34]:
# WAP to remove the all repeated number from the list 
m = [34,34,67,90]
for i in range(m.count(34)):
    m.remove(34)
    print (m)

[34, 67, 90]
[67, 90]

`reverse method` : it will give the whole list in reverse form

In [36]:
marks = [23, 24, 25, 25, 26, 22, 27,  22, 22]
marks.reverse()

In [37]:
marks

[22, 22, 27, 22, 26, 25, 25, 24, 23]

In [38]:
m = 'I love my India'
m.reverse()

AttributeError: 'str' object has no attribute 'reverse'

`Sort method` : it will sort the element in list in assending value by default (reverse = false)

In [39]:
n = [54, 90, 32]
n.sort()
n

[32, 54, 90]

In [42]:
n.sort(reverse = True)
n
# descending manner output

[90, 54, 32]

`copy method `

In [44]:
x = 8 
y = x 
print (x)
print(y)

8
8

In [49]:
x = 8 
y = x 
print (x)
print(y)
x = 2
print(y)
# we didnt give command to y hence there is no change 
# integer is immutable

8
8
8

In [46]:
p =[ 2,7,9,4]
q = p 
print(p)
print(q)

[2, 7, 9, 4]
[2, 7, 9, 4]

In [50]:
p =[ 2,7,9,4]
q = p 
print(p)
print(q)
p.append(3)
print(q)
# List is mutable

[2, 7, 9, 4]
[2, 7, 9, 4]
[2, 7, 9, 4, 3]

In [51]:
p =[ 2,7,9,4]
q = p.copy()
print(p)
print(q)
p.append(3)
print(q)
#it will remain same

[2, 7, 9, 4]
[2, 7, 9, 4]
[2, 7, 9, 4]

In [53]:
p =[ 2,7,9,4]
q = p.copy()
print(p)
print(q)
p.append(3)
print(p)
print(q)
# it will only change p value but q value is same as it is previously unchanged p value

[2, 7, 9, 4]
[2, 7, 9, 4]
[2, 7, 9, 4, 3]
[2, 7, 9, 4]

Copy merhod is used in mutable deatypes 
list, dict, set

In [54]:
max(q)

9

In [55]:
min(q)

2

In [56]:
sum(q)

22

# Methods on Tuple

In [57]:
# tuples are immutable hence we cant modify it .
# only 2 operation in tuple method ( index and count)

In [60]:
t = (34, 89, 76)
t.index(89)

1

In [59]:
t.index(34)

0

In [62]:
t.count(89)

1

In [ ]:
# if we want to sort tuple we have to typecast the tuple into list

In [65]:
q = list(t)
q.sort()
p = tuple(q)
p

(34, 76, 89)

# Methods on Dictionary

In [1]:
## CRUD
# Concatenation
# Indexing
# Repetation
# Slicing

* for indexing in dictionary you have to give key to fetch its valuee

In [2]:
d ={2:4, 7:2, 4:8, 3:2, 5:2}
d

{2: 4, 7: 2, 4: 8, 3: 2, 5: 2}

In [8]:
d[1] # no key

KeyError: 1

In [5]:
d.get(1)     # because theere is no key as '1'

None

In [6]:
d.get(4)    #key 4

8

In [9]:
d[4]= 43
d   # chnging value of 4 key

{2: 4, 7: 2, 4: 43, 3: 2, 5: 2}

In [13]:
# It will upde the ditionary by updating the give n value and
# by modifying the value which is not present in it by appendint in the end.
d.update({5:34,9:12})
d


# Here is the 6 hence the value of 5 will be updated and value of 9 is not there hence its value get appended at the last of the dictionary

{2: 4, 7: 2, 4: 43, 3: 2, 5: 34, 8: 45, 9: 12}

In [14]:
d.keys()    # to get all the keys in dect , non indexible value

dict_keys([2, 7, 4, 3, 5, 8, 9])

In [15]:
d.keys()[0] # it is non indexible value hence it wont give indeing value

TypeError: 'dict_keys' object is not subscriptable

In [16]:
# we haave to typecast the dictionaary into list 
list(d.keys())

[2, 7, 4, 3, 5, 8, 9]

In [17]:
list(d.keys())[0]

2

In [20]:
d.values()     # fetch all the values

dict_values([4, 2, 43, 2, 34, 45, 12])

In [21]:
list(d.values())[0]

4

In [22]:
d.items()  #fech items of the dictionary

dict_items([(2, 4), (7, 2), (4, 43), (3, 2), (5, 34), (8, 45), (9, 12)])

In [23]:
list(d.items())[0]

(2, 4)

In [24]:
d1 = d.copy() # make copy of dict

In [25]:
d2 = d

In [26]:
d.clear()  # clear all the element form dict

In [27]:
d  # elements are cleared

{}

In [28]:
d1   # previously copied dict

{2: 4, 7: 2, 4: 43, 3: 2, 5: 34, 8: 45, 9: 12}

In [29]:
d2   # d2 = d

{}

In [30]:
d1.pop()   
# in dict we cant pot last element
# we have to give key which we want to get popped

TypeError: pop expected at least 1 argument, got 0

In [31]:
d1.pop(7)

2

In [32]:
d1  # popped 7

{2: 4, 4: 43, 3: 2, 5: 34, 8: 45, 9: 12}

In [33]:
del d1

In [34]:
dl  # deleting whole dict

NameError: name 'dl' is not defined

# Methods on Sets

- mutable  but elemts are immutable 
- unordered
- non indexible

In [35]:
se = {5,7,4,3,2,2}
se

{2, 3, 4, 5, 7}

can add new elemnt into set and can delet existing element friom the set

we cant read the elemt in set 

we can read the entire set

In [36]:
se.add(3)
se

{2, 3, 4, 5, 7}

In [37]:
se.remove(2)