# Print Statement

- print is a inbuilt function, to see the answers
- in jupyter notebook we can see all the value without using print
- you want to see all the value we can use print option
- in vs code,pycharm there is no markdown option
- if you want to see any answers, we need to use print statement only

In [1]:
a = 30 
b = 40 
a 
b 
# this will give only last asked varible

40

In [2]:
a = 30 
b = 40 
print(a) 
print(b) 
# this will give both the output because print is there

30
40

In [3]:
num1=100
num2=200
print(num1)
print(num2)

100 200

In [3]:
num1=100
num2=200
print(num1,num2)
print('Roshni','Shubh')
print('Roshni','Shubh',num1,num2)

100 200
Roshni Shubh
Roshni Shubh 100 200

**PRint result with string**

In [16]:
a=10
b=20
c=a+b
print("the addition of 10 and 20 is 30")
print("the addition of a and b is c")
print('the addition of' ,a, 'and' ,b, 'is' ,c,)

the addition of 10 and 20 is 30
the addition of a and b is c
the addition of 10 and 20 is 30

In [4]:
name='Rosh'
age='23'
city='Washim'
print(name,age,city)
print("my name is" ,name, "I am from" ,city, "my age" ,age,)

Rosh 23 Washim
my name is Rosh I am from Washim my age 23

**format method**

- first decide how the print statement should be 
- ex :- the addition of 20 and 30 is 50 
- then replac the varible with curly bratacesm{}
- then apply `.format(val1,val2,...valn)` method

In [26]:
a=10
b=20
c=a+b
print("the addition of {},{}is {}".format(a,b,c))

the addition of 10,20is 30

In [5]:
name='Roshni Rathod'
age=23
city='Maharashtra'
print("my name is {},age {} and city {}".format(name,age,city))

my name is Roshni Rathod,age 23 and city Maharashtra

In [31]:
a=100
b=200
c=a+b
print('the addition of {},{} is{}'.format(a,b,c))

the addition of 100,200 is300

In [32]:
a=100
b=200
c=b-a
print('the substraction of {},{} is{}'.format(a,b,c))

the addition of 100,200 is100

In [33]:
a=100
b=200
c=a*b
print('the multiplication of {},{} is{}'.format(a,b,c))

the multiplication of 100,200 is20000

In [35]:
a=100
b=200
c=b/a
print('the division of {},{} is{}'.format(a,b,c))

the division of 100,200 is2.0

In [37]:
a=100
b=200
add=a+b
sub=b-a
mul=a*b
div=b/a
print("the addition of {},{}is {}".format(a,b,add))
print('the substraction of {},{} is{}'.format(a,b,sub))
print('the multiplication of {},{} is{}'.format(a,b,mul))
print('the division of {},{} is{}'.format(a,b,div))

the addition of 100,200is 300
the substraction of 100,200 is100
the multiplication of 100,200 is20000
the division of 100,200 is2.0

**F String Method**
- more short code
- varible should be in cury braces
- write everything inside quote `''`.
- at starting of string put `f`

In [41]:
a=100
b=200
c=a+b
print('the addition of 100,200is 300')
print('the addition of {},{} is{}'.format(a,b,c))
print(f"the addition of {a},{b} is{c}")

the addition of 100,200is 300
the addition of 100,200 is300
the addition of 100,200 is300

In [45]:
a=100
b=200
c=a+b
d=b-a
e=a*b
f=b/a
print(f"the addition of {a},{b}is {c}")
print(f"the substraction of {b},{a}is {d}")
print(f"the multiplication of {a},{b}is {e}")
print(f"the division of {b},{a}is {f} ")

the addition of 100,200is 300
the substraction of 200,100is 100
the multiplication of 100,200is 20000
the division of 200,100is 2.0

**End Operator**

In [6]:
print('hello')
print('good morning')

hello
good morning

In [7]:
# to get ans like 'hello good morning' 
print('hello', end = ' ')
print('good morning')

hello good morning

In [46]:
print(10)
print(20)

10
20

In [47]:
print(10,end='')
print(20)

1020

In [48]:
print(10,end='------>')
print(20)

10------>20

In [51]:
print(10,end='--> ')
print(20,end='--> ')
print(30)

10--> 20--> 30

**seperater method**
- using one print statement
- inside one print statement we have multiple values 
- print10-->20-->30

In [10]:
print('hello','hi','how','are','you',sep = ' ')

hello hi how are you

In [11]:
print('hello','hi','how','are','you', sep = '%%')

hello%%hi%%how%%are%%you

In [12]:
print(3,'.')

3 .

In [13]:
print(3,'.',sep='')

3.

In [54]:
print(10,20,30,40,50,60,70,sep='----->')

10----->20----->30----->40----->50----->60----->70

In [56]:
print(10,20,30,40,50,60,70,sep='+++++')

10+++++20+++++30+++++40+++++50+++++60+++++70

In [57]:
# 10+20=30
print(10,end='+')
print(20,end='=')
print(30,'.',sep='')

10+20=30.

- seperating the all valuesinside print statement
- end will join the multiple

In [109]:
#wap ask the user take 3 numbers find the average
#the average of num1, num2, num3 is avg using f string and format method

n1=123.635
n2=225.657
n3=300.1556
avg=(n1+n2+n3)/3
round(avg,4)
print("the average of {}, {} and {} is {}".format(n1,n2,n3,avg))
print(f"the average of {n1}, {n2} and {n3} is {avg:.2f}")

the average of 123.635, 225.657 and 300.1556 is 216.48253333333332
the average of 123.635, 225.657 and 300.1556 is 216.48

**Round Method**

In [66]:
round(40.5678)
# you did not provided any decimal

41

In [67]:
round(40.5678,1)
#after point provide only one value

40.6

In [68]:
round(40.5678,2)

40.57

In [69]:
round(40.5678,3)

40.568

In [70]:
round(40.5678,4)

40.5678

In [71]:
round(41.56789,2)

41.57

In [72]:
round(41.56789,3)

41.568

In [73]:
round(41.56789,4)

41.5679