## List  interview Questions

### Create a list containing the first five positive integers

In [1]:
l1 = [1, 2, 3, 4, 5]
print(l1)

[1, 2, 3, 4, 5]

### Access the third element in list

In [2]:
lst = [10,20,30,40,50]
lst[2]

30

### Retrive the last element fromm the list

In [4]:
lst = ['a', 'b', 'c', 'd']
lst[-1]

'd'

### Create a list with the elements 1,2,3 then add the number 4 to the end of the list

In [7]:
l2 = [1,2,3]
l2.append(4)
print(l2)

[1, 2, 3, 4]

### Insert he element 100 at the second positin in the list

In [9]:
l3 =[10,20,30,40]
l3.insert(1,100)
print(l3)

[10, 100, 20, 30, 40]

### Remove the first occurance of the ekement 3 from a list

In [13]:
l4 = [1,2,3,4,3,5]
l4.remove(3)
print(l4)

[1, 2, 4, 3, 5]

### Remove the element at index 2 from a list

In [16]:
lst = ['a','b','c','d']
lst.pop(2)
print(lst)

['a', 'b', 'd']

### Delet the firat theree elements from the list

In [20]:
lst =[10,20,30,40,50]
del lst[:3]
print(lst)

[40, 50]

### fint the index of the element 40 in a list lst

In [23]:
lst = [10,20,30,40,50]
lst.index(40)

3

### Count how many times the element appears in the list

In [25]:
l5= [5,10,15,5,20,5]
l5.count(5)

3

### Reverse the order of element in list

In [30]:
l6 = [1,2,3,4,5]
l6.reverse()
l6

[5, 4, 3, 2, 1]

### Sort a list in asc order

In [33]:
lst = [40,10,30,20,50]
lst.sort()
lst

[10, 20, 30, 40, 50]

### Sort a list in desc order

In [ ]:
lst = [40,10,30,20,50]

### Create a new list by slicind the forst three elements from lst

In [41]:
lst = [100, 200, 300, 400, 500]
l7 = lst[:3]
print(l7)

[100, 200, 300]

### Create a list containing ..... athen extend this list with ...

In [47]:
l = ['apple', 'banana', 'cheery']
l.extend(['date', 'fig'])
print(l)

['apple', 'banana', 'cheery', 'date', 'fig']

### Create a copy of list and store it in new list

In [50]:
l = [1,2,3,4,5]
new_lst = l.copy()
print(new_lst)

[1, 2, 3, 4, 5]

### Check if the element is present in list

In [52]:
l = [10,20, 30 ,40]
25 in l

False

### Clear al the elements from list

In [55]:
l = [10, 20, 30, 40]
l.clear()
l

[]

### concatenate two list  to create new list

In [58]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2
print(l3)

[1, 2, 3, 4, 5, 6]

### Repeat the element in a list lst three times

In [61]:
lst = [7,8]
lst = lst * 3
print(lst)

[7, 8, 7, 8, 7, 8]

### Remove all elements from a list using slicing

In [65]:
lst = [1,2,3,4]
lst[:] = []
print(lst)

[]

### Swap the first ans last element in a list

In [66]:
lst = [10 ,20, 30 ,40 ]
lst[0], lst[-1] = lst[-1], lst[0]
print(lst)

[40, 20, 30, 10]

### Convert a string into a list pf char

In [68]:
string = 'Hello'
list(string)

['H', 'e', 'l', 'l', 'o']

### find the length of list

In [70]:
lst = ['a', 'b', 'c', 'd']
len(lst)

4

### Extract middle 3 element form list

In [72]:
lst = [10,20,30,40,50,60,70]
lst[2:5]

[30, 40, 50]

### Extract every 2ns element from list

In [76]:
lst = [10,20,30,40,50,60]
lst[::2]

[10, 30, 50]

### Create a list by repeating list twice and adding the another list at the end

In [78]:
l1 = [1,2,3]
l2 =[4,5,6]
l3 = (l1 *3) + l2
print(l3)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6]

### Create a list with numbers. Add the no 6 to the end of the list and then insert 0 at the beginning of the list then print the modified list

In [82]:
l = [1,2,3,4,5]
l.append(6)
print(l)
l.insert(0,0)
print(l)

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]

### create list vit values . Remove the lasr element from the list and remove thefirst elemnet b specifyun=ign its index and print modified list

In [99]:
l = ['a','b','c','d']
l.pop(3)
print(l)
l.pop(0)
print(l)

['a', 'b', 'c']
['b', 'c']

### Given a list lst = [5,3,1,4,2], sort the list in ascending order ans reverse the sorted list. print both sorted and reversed list

In [97]:
lst = [5,3,1,4,2]
lst.sort()
print(lst)
lst.reverse()
print(lst)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]