# Variables and Data types Practice questions

### Assign the value 10 to a variable x and print it ,

In [1]:
x = 10 
print (x)

10

### Assign value 5 ans 15 to variables a and b resp, and print them

In [2]:
a = 5
b = 15 
print(a, b)

5 15

### assign the value of a to b , where a= 15 , and print both variables.

In [3]:
a = 15 
b = a 
print (a, b)

15 15

### Swap the value of variables p and q where p = 8 and q = 12 , then print them

In [4]:
p = 8
q = 12 
p,q= q,p
print (p)
print (q)

12
8

### Assign values 5, 10 & 15 to variable a, b, and c resp , and print them

In [5]:
a = 5
b = 10 
c = 15 
print(a , b, c)

5 10 15

### Assign the same value 20 to a , b and c and print them

In [6]:
a = 20 
b = 20 
c = 20 
print (a, b, c)

20 20 20

### Assign the value 20 to varible y and print its value and address.

In [7]:
y = 20 
print(y)
print(id(y))

20
2182622806864

### Assign the value 30 to varible z , print it ans then delet the varible.

In [8]:
z = 30 
print(z)
del(z) 
print(z)

30

NameError: name 'z' is not defined

### Assign  7 and 14 to m and n , print them and then delet both the varibles

In [9]:
m = 7 
n = 14 
print(m,n)
del(m,n)
print(m, n)

7 14

NameError: name 'm' is not defined

### Assign values 1, 2, 3 to z, y, z resp, then delet y and print x and z.

In [11]:
x = 1
y = 2
z = 3 
print(x, y, z)
del(y)
print(x)
print(y)
print(z)

1 2 3
1

NameError: name 'y' is not defined

### Assign 50 to a and print its memory address

In [12]:
a = 50 
id(a)

2182622807824

### Assign the value of 50 to two varibles p and q , then print their values and address

In [16]:
p = 50 
q = 50 
print(p)
print(q)
print(id(p))
print(id(q))

50
50
2182622807824
2182622807824

### Assign 'Hello' to the variable greeting and print it

In [17]:
Greeting = 'Hello'
print(Greeting)

Hello

### Assign the string Hello tp Greeting and print its ,memory address

In [18]:
Greeting = 'Hello'
print(id(Greeting))

2182732387248

### Assign complex (1, 2) to c ans print its memory address.

In [20]:
c = (1,2)
print(id(c))

2182732252160

### Assign the value 100 to variable a , print its address then change the value to 200 and prints its new address

In [22]:
a = 100
print(id(a))
a = 200
print(id(a))

2182622809424
2182622812624

### Assign the value True to variable flag and print it

In [23]:
flag = True
print(flag)

True

### Assignt the value 300 to a variable k, delet the varible , then ressign it with the value 600 and print it

In [25]:
k = 300
print(k)
del(k)
k = 600 
print(k)

300
600

### Assign the strings to varibles and print themm

In [27]:
fruit1 = 'apple'
fruit2 = 'banana'
fruit3 = 'cheery'
print(fruit1)
print(fruit2)
print(fruit3)

apple
banana
cheery

### Assign the float value 9.99 ro variable price and print it

In [28]:
price = 9.99
print(price)

9.99

### Assign 7.5 to b and print its memory address.

In [29]:
b = 7.5 
print(id(b))

2182705049584

### Assign the value 3.14 to pi and 2.718 to e and print it

In [31]:
pi = 3.14
e = 2.718 
print(pi)
print(e)

3.14
2.718

### Assign the values 1, 2, 3 to variable a, b,c and print their address

In [32]:
a = 1
b = 2
c = 3
print(id(a))
print(id(b))
print(id(c))

2182622806256
2182622806288
2182622806320

###  Assign a string 'John', an integer 25 , and a boolean False to variables name, age, and status, and print them

In [33]:
name = 'John'
age = 25 
status = False 
print(name, age ,status)

John 25 False

### Assign value True to both the variables X and y and print them

In [34]:
x = True
y = True
print(x, y)

True True

### Assign som values to given variable and then reassign diff value and print them

In [37]:
x = 10 
y = 20.5
z = 'test'
print(x, y, z)
x = 'changed'
y = True
z = 50 
print(x, y, z)

10 20.5 test
changed True 50

### Assign 500 to m and 500 to n and print their value add

In [41]:
n = 500
m = 500
print(id(n))
print(id(m))

2182732644432
2182732644496

### Assign 10 t0 x and change ti to 20 ,30 and finally 40 then print thenfinal value

In [42]:
x = 10 
print(x)
x = 20 
x = 30 
x = 40 
print(x)

10
40

### Assign 1000 to x , printits address then delet x

In [43]:
x = 1000
print(id(x))
del (x)
print(x)

2182732644912

NameError: name 'x' is not defined

### Assign the values 42,'answer' and True to variable num and boolean , print them ans then three vareiable

In [44]:
num = 42
word ='answer'
boolean = True
print(num)
print(word)
print(boolean)
del(num, word, boolean)
print(num, word, boolean)

42
answer
True

NameError: name 'num' is not defined

### How do you create and integer variable with value 25

In [45]:
# here a will be the variable having integer value 25 
a = 25 
print(a)

25

### add two integers 14 and 26 and print the result

In [46]:
14 + 26

40

### How do you create float varabvle with the value 7.5 ?

In [47]:
# here  x will be the varible having float values of 7.5
x = 7.5 
print(type(x))

<class 'float'>

### How do you create a complex number with a real part of 4 and an imapginary part 3 ?

In [52]:
complex (4, 3)

(4+3j)

### Assign a complex number 3 +4j to a variable z and print its type

In [49]:
z = 3 + 4j
print(z)
type (z)

(3+4j)

complex

### Sub (1 + 1j) from (5 + 6j) and print the result

In [53]:
a = ( 1 + 1j) 
b = (5 + 6j)
print(a - b)

(-4-5j)

In [54]:
(1 + 1j) - (5 + 6j)

(-4-5j)

### how do you create the boolean verable that is set to value False ?

In [55]:
# here is a variable which contain boolean datatype 
a = False
type(a)

bool

### How do you create a string variable with the value "Python"?

In [57]:
# here we will assign string 'python' to varable p haaving data type as string 
p = 'Python'
print(p)
type(p)

Python

str

### How do you check data type x ?

In [58]:
# here we are takingx as last assign value to check and print it 
print(x)

7.5

In [59]:
# now we are checking its data type as follows
type(x)

float

### How do you conver integer 10 to a float ?

In [60]:
x = 10 
type(x)

int

In [63]:
print(float(x))

10.0

### How do you convert the float 12.34 to an integer ?

In [65]:
m = 12.34
type(m)

float

In [66]:
print(int(m))

12

### How to convert str '100' to int

In [67]:
i = '100'
type(i)

str

In [68]:
print(str(i))

100

### convert int 50 to str

In [69]:
a = 50
type(a)

int

In [72]:
v = str(a)
print(v)
type(v)

50

str

### find len of str 'python'

In [73]:
language = 'pyhton'
len(language)

6

### multi. str 'Hi' by 3

In [76]:
A ='Hi'*3
print (A)

HiHiHi

### convert string '3.14' to float

In [77]:
m = '3.14'
type(m)

str

In [78]:
print(float(m))

3.14

### Get real part of complex no

In [79]:
z = 5 + 6j 
print(z.real)

5.0

### Get imaginary part of the complex no

In [80]:
z = 5 + 6j 
print(z.imag)

6.0

In [81]:
z = True 
type(z)

bool

In [82]:
print(int(z))

1

### convert integer 1 to boolean

In [83]:
a = 1 
type(a)

int

In [84]:
print(bool(a))

True

### Ask the user to input their name and assign it to the variable name . Print the value of name

In [85]:
name = input('Please enter your name : ')
print(name)

Please enter your name : Roshni Rathod
Roshni Rathod

### Ask the user to input floating pont no and assign to variable price . Print the value price

In [86]:
price = float(input('Please enter price: '))
print (price)

Please enter price: 35
35.0

### Ask the user to input a number as a string, convert it to aninteger, and assign it to the variable age . Print the value of age

In [87]:
age = int (input('Please enter age : '))
print(age)

Please enter age : 34
34

### Ask the user to input a number  and a word , then assign the number to num ( as an integer), and the word t text . print both num and text .

In [88]:
num = int(input('Enter number: '))
word = input('Enter word: ')
print(num)
print(word)

Enter number: 23
Enter word: Ram
23
Ram

### Ask the user to input number , typecast it to a float and assign it to the variale score. Print the value of score ans its type

In [89]:
score = float(input('Enter score: '))
print(score)
type(score)

Enter score: 458
458.0

float

### Ask user to input a number , convert it into str ans assign it ot the variable no _str. Print numbeer and its type

In [91]:
_str = str(input('Enter string: '))
print(_str)
type(_str)

Enter string: 32
32

str

### Take user input for two num and print their sum

In [92]:
a = int(input('Enter a : '))
b = int(input('Enter b : '))
print(a + b)

Enter a : 12
Enter b : 20
32

### ask the user for floating point number and print its square

In [94]:
num = float(input('Enter num: '))
print(num**2)

Enter num: 4
16.0

### take input from user for complex no and print its real and imaginary part

In [97]:
user = complex(input ('Enter complex no : '))
print(user)
print(user.real)
print(user.imag)

Enter complex no : 2+3j
(2+3j)
2.0
3.0

### How do you create str variable with value 'Python'

In [98]:
variable = 'Python'
print(variable)

Python

In [99]:
type(variable)

str

### Assign the str 'Pythoin' to a variable language and print its length

In [100]:
language = 'Python'
len(language)

6

### access the 3rd char of str 'Pyhton'

In [101]:
language[2]

't'

### access last char

In [102]:
language[-1]

'n'

### slice to get 'pyt'

In [107]:
language[0:3]

'Pyt'

### Assign string 'Substring ' to the word and print the last four character

In [112]:
Substring = language [-4:]
print(Substring)

thon

### slice to get 'tho'

In [114]:
language[2:5]

'tho'

### Assign the str 'data science' to text and slice string to print'Data

In [116]:
text = 'Data Science'
text [0:5]

'Data '

### Assign the str to ai and print igven

In [117]:
ai = 'Artificial intelligence'
ai[0:11]

'Artificial '

### Assign str to variable and print 'gram'

In [118]:
term = 'Programming'
term[3:7]

'gram'

### Reverse str language python

In [124]:
language[::-1]

'nohtyP'

### Assign string to varible and delet the variable

In [125]:
course = 'Python Programming'
print(course)
del(course)
print(course)

Python Programming

NameError: name 'course' is not defined

### assign the str " openAI " to company and convert it to lowercase ,then print it

In [126]:
company = 'OpenAI'
company.lower()

'openai'

### assign the str 'learning' to activity and conv it into uppercase,hten print it

In [127]:
activity = 'learning'
activity.upper()

'LEARNING'

### Assign the str 'OpenAI' to company and remove any leading spaces, then print the result

In [128]:
company.lstrip()

'OpenAI'

### Assign the string "Data Science" to the field and remove any trailling spaces, then print the result.

In [1]:
field = 'Data science'

field.rstrip()

'Data science'

### Assign the string 'Python' to text ans remove the leading and trailling spaces , then print the result

In [2]:
text = "Python"
text.strip()

'Python'

## Assign the string 'Hello'  to greeting and capatalize the first letter, then print the result

In [4]:
greeting ='hello'
greeting.capitalize()

'Hello'

### Asisign the string 'Hello, World!' to text and convert it into title case, then print the result

In [131]:
text = 'Hello,World!'
text.title()

'Hello,World!'

### Assign the stirng 'banana' to fruit and count thr occurance of 'a' then print the result

In [134]:
fruit = 'banana'
fruit.count('a')

3

### Assign the string 'Python is fun' to sentence and find the index of fun then print result.

In [5]:
sentence = "Pyhton is fun"
sentence.find("fun")

10

### Assign the string "Alphabet" to text and find the first occurance of "a" (Case-sensitivr), then print the result

In [6]:
text = "Alphabet"
text.find("a")

4

### Assign the string "This is test" to sentence ans split it into a list of words, then print the results

In [10]:
sentence = "This is test" 
sentence.split()

['This', 'is', 'test']

### Assign the string "John" to word and join it with a hypen "-" between each letter , then

In [11]:
word = "John"
"-".join(word)

'J-o-h-n'

### How do you check if the string "1234" contains only digits?

In [12]:
text = "1234"
text.isdigit()

True

### Assign the string "Python3" to language and check if it is alphanumeric, then print the result

In [14]:
language = "Python3"
language.isalnum()

True

### How do you replace the substring "thon" in tht string language = "Python" with "ck"

In [15]:
language.replace('thon','ck')

'Pyck3'

### Assign the string "Hello, World!" to greeting and replace "World" with "Python", then print the result

In [16]:
greeting = "Hello, World!"
greeting.replace("World", "Python")

'Hello, Python!'

### how do you check sting "python" starts with letter "p"

In [18]:
language.startswith("P")

True

### how do you check string ends with on

In [19]:
language.endswith("on")

False

In [20]:
language.endswith("n3")

True