
# Variables**

- variables are used to store the values
- variables can change their values as last assign to it 
- variables are the name given to the memory location where the data is being stored.
- varyyy: varying

# comments 
- they are writeen instide the code 
- But theyu are not the part of code , i.e they are not executed
- because python will ignore them 
- ite is use as notes in python 
- they are reperesented as "#" symbol


# Identifires

- Variables : Used to identify data locaation 
- Functions: Used to identify block of code location 
- Classes: Use to identify blueprint/ design location


### If you want list of shortcuts , Press "esc + H"

In [1]:
number=100       # here number is a variable name given to value 100
print(number)    # here we are givving command to fetch the value of given variable from the memory

100

In [ ]:

n = 23
n

In [ ]:

n = 34
n

In [2]:
# In above , we can see that n is varible having value 23 and then we changed its value to 34 in next cell 
# so if now we call n variable it wll give most recent assigned value i.e 34 , 
# it means it will replace the previous value 
n

NameError: name 'n' is not defined

# Rules for naming variables

- variables are case sensitive

- we can store number string or combination into variables 

- variables can represnt as capital letters

- variables can represent as small letters

- variables can have both combinations

- python will consider latest value

- variables **dose not** start with numbers

- variables can have numbers at last

- variables **does not** contain special character exc underscore

- variables **does not** contain any space between the letters : number one

- only underscore can use as variables

- keywords or reserved words **Should not use variables**:example: "if else"," print"

- variable can have underscore

In [ ]:
number=200
number

In [ ]:
Rosh = 8698
Rosh

In [ ]:
# We cqan give any name to varible 
Ro_Sh = 200
Ro_Sh

In [ ]:
NUMBER=200
NUMBER

In [ ]:
number=300
number

In [ ]:
NUMber=400
NUMber

In [1]:
123num = 200
123num

SyntaxError: invalid decimal literal (3325732250.py, line 1)

In [2]:
Number*one=600
number*one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3524573973.py, line 1)

In [ ]:
num_one=700
num_one

In [3]:
_=800
_

# only underscore can represent as variable

800

In [4]:
x = 30 
x3 = 40 ## variable can contain digit 
3e = 42 #but cant start from digit
S_23 = 'lmn'

SyntaxError: invalid decimal literal (1815813792.py, line 3)

In [5]:
Rosh = rathod
Rosh

NameError: name 'rathod' is not defined

In [6]:
Rosh* = 'Rosh'  # here we cnt use special char in variable 
Rosh*

SyntaxError: invalid syntax (3924390159.py, line 1)

In [7]:
_12Rosh = 50
_12Rosh

50

In [ ]:
num = "Rosh"
num

# Roshni is a variable name given to me ; used to identify me as an individual

In [ ]:
mannat = "Shahrukh"
mannat

# mannat is a identifire for the memory location where"Sharukh" is stored as data

In [8]:
first_name = "Roshni "
first_name

'Roshni '

In [ ]:
print(Name)
print(name)
### It shows that python variables are case sesitive

In [9]:
x = 12 
print(x)   ### This its universal python code , i.e giveing print command will work everywhere as python code

12

In [10]:
x = 23
x           # here we havent given the print command but also x is getting prnted

23

Reason:
   
   - ide = text editior + interpreter
   - Jupyter notebook = notes + ide
   - Jupyter notebook can interact with interpretor directly
   - i.e it can directly interact with python memory

In [11]:
x   # this is a jupyter notebook's way to fetch the data form momory directly without print command

23

In [ ]:
# you can store same data into differernt variales also 
# x = 10
# y = 10 
x = y = 10
print(x)
print(y)

# DATA TYPES

there ar 9 core data types in python

- Non- collection data types ( because we can olny store single value in these dat types)

1. Integer (int)
2. Decimal point numbers (float)
3. boolean (bool)
4. Complex numbers (complex)

- Collection data types (because we can store multple values under this data type)
      
 >Indexible data types (When the data is stored in orderd sequential format based on the basis of some index values that data is called as indexible data type)

5. String (str) : ""/''
6. list (list) (mutable in nature) : []
7. tuple (tuple) (immutable in nature): ()


>Non- Indexible data types 

8. set (set): {}
9. dictionary (dict): {:}

**Ordered Data types**
  - list
  - Tuple
  - Dict
  - string
  
**Un ordered Data Type**
  - set 
  - dictionary in python version before 3.7

# Mutablility
- If a particular element in collection data type could be change ( add , del or any modification ) 
- without affecting other element 
- then the data type is said to be mutable    example : List


**Mutable Data Types**
- List
- Set 
- Dictionary

**Rest all are Immutable Data Types**

>## integer
- positive and negaative integer 
- integer can be as long as you needed to be 
- The only constrain is that the system should have the required memory to store the data
- in python no need to consider the data types like c
- it will consider the data types automatically

In [1]:
number=100
# in order to check the type of a variable we will use 
# in built function calles as type

In [2]:
type(number)

int

In [3]:
x = 1248759485289741974173498347539880398088874664387893759384749182812821698479324
print(x)

1248759485289741974173498347539880398088874664387893759384749182812821698479324

In [4]:
x = 12 
y = +12
y

# same thing 
# if you wanted to give positive , hten no need to mention plus sign

12

In [5]:
a = -20
print(a)
# but if you want to give negative sign then , you have to mention it

-20

In [3]:
type(100)

int

- in maths we have different types of representations avaialble
    - binary
    - octa
    - decimal
    - hexa

>## Binary
- binary has bi which indicates two
- we have total 0 to 9 digits to represent any numbers
- from there we will take only first two digits i.e., 0 and 1
- eg: 0b101, 0B0001
- wrong representation is: 0b002

In [6]:
num=0b111
num

7

In [6]:
num=0b1
num

1

- **octa**
    - octa means 8
    - we have total 0 to 9 digits to represent any number: 0,1,2,3,4,5,6,7,8,9
    - from there we will take only starting 8 digits i>e,  to 
    - eg: 0o123, 0o567, 0o10006
    - wrong representation is : 0o786, because 7, 6 but 8

In [3]:
0o123

83

In [4]:
0o567

375

In [5]:
0o10006

4102

In [7]:
0o020300

8384

In [8]:
0o060400

24832

- **Hexa**
  - hexa means 16
  - we have total 0 to 9 digits any number: 0,1,2,3,4,5,6,7,8,9
  - after 9 we will use A to F A:10, B:11, C:12, D:13, E:14,
  - example: 0x123, 0XABC, 0X9ad
  - wrong representation is : 0xFGH

In [10]:
0xab

171

In [15]:
0xb52

2898

>## Float

In [17]:
num= 10.5
type(num)

float

In [20]:
type(10),type(10.5)

(int, float)

In [7]:
x = 12 
print(x)
type(x)

12

int

In [8]:
x = 12.0 
print(type(x))

<class 'float'>

>## Complex

real part + j(imaginary part)

In [9]:
x = 2 -3j
print(x)

(2-3j)

In [10]:
type(x)

complex

In [12]:
y = 10 +2j
type(y)

complex

In [21]:
10e1 # 10* <10> =100

100.0

In [22]:
10e2 # 10* <100> = 1000

1000.0

In [23]:
10e3 # 10* <1000> =10000

10000.0

In [24]:
10e4 # 10* <10000> = 100000

100000.0

In [25]:
10
20
# in jupyter notebook by default last value will print

20

In [26]:
# if you want to see all the answers apply the print
print(10)
print(20)

10
20

In [29]:
print(10e1)
print(10e2)
print(10e3)
print(10e4)
print(10e5)
print(10e6)

100.0
1000.0
10000.0
100000.0
1000000.0
10000000.0

In [33]:
print(10e+1)
print(10e+2)
print(10e+3)

100.0
1000.0
10000.0

In [37]:
print(10e-1)
print(10e-2) 
print(10e-3) 
print(10e-4)
print(10e-5)

1.0
0.1
0.01
0.001
0.0001

- in the machine learning we often see the value in exponential format
- in some cases we need to search for zero values
- in ML with python we rarely see exact an answer 0.0
- in stead of 0.0 it will display as 1.2345e-17

> ## String

string represents collection of characters written inside Quotes

- strings represnts english character only
- strings will represent with quotes
  - single quotes'
  - double quotes"
  - triple quotes'''

In [108]:
s = ""
print(s)
print(len(s))

0

In [109]:
sn =" "
len(sn)

1

In [14]:
str1= 'Rosh'
type(str1)

str

In [15]:
str2="Roshn@123"
type(str2)

str

- we can represent in any way but python will give in single quotes

In [16]:
print(str1)

Rosh

In [17]:
print(str2)

Roshn@123

- when we apply print on string it will display without quotes
- any data type or any values provided by quotes it become a string only
- string always in red color
- variable always in black color
- keywords always in green color

In [18]:
x ='om'
x
# om is a english letter stored in a variable called om

'om'

In [56]:
str1="i like 'python'"
print(str1)

i like 'python'

In [57]:
str1='i like "python"'
print(str1)

i like "python"

- if you want to highlight any word represent entire string in single quotes, highlighted words in single quotes vice versa

In [35]:
str1= """hi
how are you
im good"""
print(str1)

hi
how are you
im good

In [41]:
str1= """hi
how are you
im good"""

str1

'hi\nhow are you\nim good'

- tripple quotes is used to write a multiline comments
- this is called **Docstring**
- in order to write a story in jupyter notebook we have a markdown
- but others platforms like Vscode, pycharm we dont a markdown
- the how can we write a story: by using triple quotes
- if any person writing soemthing using triple quotes, which indicates the user is trying to convay the information the process is called **Docstring**

In [33]:
poem = '''Twinkle twinkle little star
How I wonder , what they are!
Up above the , world so high 
like a diamond in the sky'''

print(poem)

Twinkle twinkle little star
How I wonder , what they are!
Up above the , world so high
like a diamond in the sky

In [42]:
poem = '''Twinkle twinkle little star
How I wonder , what they are!
Up above the , world so high 
like a diamond in the sky'''

poem

'Twinkle twinkle little star\nHow I wonder , what they are!\nUp above the , world so high \nlike a diamond in the sky'

In [ ]:
## if you wanted to wrie it in different line you have to give print command compulsorily

In [52]:
print(poem('Twinkle twinkle little star\nHow I wonder , what they are!\nUp above the , world so high\nlike a diamond in the sky'))

TypeError: 'str' object is not callable

In [30]:
len(poem)

111

In [36]:
print("Hello World")

Hello World

**\n** also use to make it as poem ,

In [39]:
print("Hello\nWorld")

Hello
World

In [40]:
print("Hello \n World")

Hello
 World

In [57]:
# Mutablility test of string 
s = "Hello"
s[1]

'e'

In [58]:
s[1] = 'c'
s

## it will throw error because it is immutable data type ,we cant change charaters

TypeError: 'str' object does not support item assignment

# Escape Characters 
\n:New line charater

\t: tab

\b: backspace

In [19]:
l = 'Roshni's'
l

SyntaxError: unterminated string literal (detected at line 1) (2385782170.py, line 1)

In [20]:
l = "Roshni's"
l

"Roshni's"

In [21]:
len(l) # this len function is use to check the no of elements into the given variable

8

**Len Function**

- calculating length will only work with **collection** data types 
- Len function wont work with non collection data type

In [23]:
print(len(str1))

4

In [25]:
print(len("Hello! How are you 'fine'"))

25

In [28]:
print(len(" Hello! How are you "fine""))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2913376017.py, line 1)

>## Boolean

It is data type which has one of two possible values

- computer takes the value in binary format (1,0)
- computer gives the answer in Boolean format
   - True
   - False
- true indicates 1
- false indicates 0

whether it its True or False , "T" of true or "F" of False should be capital <br> only then it will consider it as a boolean data type

In [59]:
val= True  
type(val)

bool

In [60]:
val1= False
type(val1)

bool

In [66]:
a=10
b=10.6
c='10'
d=True
type(a), type(b), type(c), type(d)

(int, float, str, bool)

>## List
- it is the collectin of heterogenous data elements written inside square brackets
- Tuple is mutable in nature

In [105]:
l = []
print(l)
print(len(l))

[]
0

In [106]:
l = [ ]
len(l)

0

In [49]:
vegelist = ['Tomato','Potato','Cucumber','Ladyfingure','Okara']
vegelist

['Tomato', 'Potato', 'Cucumber', 'Ladyfingure', 'Okara']

In [50]:
type(vegelist)

list

In [53]:
Studata = ['Roshni', 34.98, ['Hydrabad', 'India'], 87564536722]
Studata

['Roshni', 34.98, ['Hydrabad', 'India'], 87564536722]

In [54]:
len(Studata)

4

In [53]:
# Mutablility Test 

print(vegelist)
print(vegelist[1])

['Tomato', 'Potato', 'Cucumber', 'Ladyfingure', 'Okara']
Potato

In [56]:
#list indexing


vegelist[1]= 'carrot'         
print(vegelist)

# Here the 1st elemet was potato and then changed into carrot without affecting other elements , 
# that modificstion is possible here in list
# hence list is immutable data type

['Tomato', 'carrot', 'Cucumber', 'Ladyfingure', 'Okara']

In [13]:
# to check how many methods we can give to variale <br>
#is simply put  "dot + tab "
x = 'Hello'

#x.'tab'

# Indexing 
- here we will learn indexing
> hello python

- Indexing can strart form left to right as positive indexes 
- Indexing which is started from right to left are negative indexes 
- positive indexing always strats form 0,1,2,3.... and so on 
- negatie indexing will start from -1,-2,-3,-4 ......and so on

In [1]:
l = "Roshni"


# in this above variable 
#    l =  "R o s h n i"
#Indxing = 0 1 2 3 4 5
# here length will be 6 

print(len(l))

6

In [ ]:
nit = 'Data Analytics by Prakash sir'
 # in above variable we have taken nit as string 
           # D a t a   A n a l i t  i  c  s   b y     p r a k a s h  s i r
# Indixing = 0 1 2 3 4 5 6 7 8 9 10 11 12 13 1415 16 171819202122

In [2]:
# if you wanted to fetch any of the chrcter from "Roshni" you have to use indexing 

print(l[2])

# here you give a command to print the charcherter which in present at 2nd position of the word 
#  R o s h n i 
#  0 1 2 3 4 5 

# you can see at 2nd position there is s character , so it will print s

s

In [3]:
vegelist = ['Tomato','Potato','Cucumber','Ladyfingure','Okara']
vegelist

['Tomato', 'Potato', 'Cucumber', 'Ladyfingure', 'Okara']

In [8]:
#    vegelist = ['Tomato','Potato','Cucumber','Ladyfingure','Okara']
#    Indexing =     0        1        2           3            4
#    length   =   5


print('len','=', len(vegelist))
print('at 3rd position', vegelist[3] ,'is there')

len = 5
at 3rd position Ladyfingure is there

In [9]:
type(vegelist)

list

In [10]:
type(vegelist[2])

str

In [11]:
vegelist[0], vegelist[3], vegelist[2], vegelist[1]

('Tomato', 'Ladyfingure', 'Cucumber', 'Potato')

In [14]:
# we can do indeing of list and indexing within it is also possible 
print(vegelist[0])
print(vegelist[0][2])   # here we are giving command to fetch the 0th element form vegelist , and within that 0th position element; fetch the 2nd character 

#    vegelist = ['Tomato','Potato','Cucumber','Ladyfingure','Okara']
#    Indexing =     0        1        2           3            4

# 0th element = 'Tomato'
# Indexing    =  012345

# 2nd element of 0th element from vegelist i.e "Tomato" = m

Tomato
m

In [15]:
# you can give positive indexing as well as negative indexing 
#    vegelist = ['Tomato','Potato','Cucumber','Ladyfingure','Okara']
# +ve Indexing =     0       1        2           3            4
# -ve Indexing =    -5      -4       -3          -2           -1

vegelist[2], vegelist[-3]   # same thing

('Cucumber', 'Cucumber')

In [16]:
vegelist[2][4]  , vegelist[2][-4]

('m', 'm')

In [17]:
vegelist[-3][4]  , vegelist[-3][-4]

('m', 'm')

In [ ]:
## Above are given different ways to fetch index values using positive and negative indexing

In [41]:
student = ['Anish', 342, 32.7, {'maths': 42, 'Phy': 34, 'his': 30}, 'Pass', 'H07886']
len(student)

6

In [42]:
student[2]

32.7

In [48]:
student[1]

342

In [49]:
student[1][1] #integer are not indexible

TypeError: 'int' object is not subscriptable

In [46]:
student[2][2] ### we cant index float object

TypeError: 'float' object is not subscriptable

In [44]:
student[3]['his'] # for indexing dictionary , we have to give key  element to fetch value

30

In [47]:
print(student[4])
print(student[4][3])

Pass
s

In [30]:
Rosh = [23, 'Girl', '9673507742',['washim', 'maharashtra'], {'UG':'Btech', "PG": "Mtech"}, 9.00 , 8.37]
len(Rosh)

7

In [37]:
Rosh[3], Rosh[-4]

(['washim', 'maharashtra'], ['washim', 'maharashtra'])

In [32]:
Rosh[4]

{'UG': 'Btech', 'PG': 'Mtech'}

In [33]:
Rosh[1]

'Girl'

In [34]:
Rosh[3][1]

'maharashtra'

In [35]:
Rosh[3][1][4]

'r'

In [36]:
Rosh[3][0][0]

'w'

>## Tuple
- it is the collectin of heterogenous data elements written inside parenthesis
- Tuple is immutable

In [103]:
t = ()
print(t)
print(len(t))

()
0

In [104]:
tv= ( )
len(tv)

0

In [59]:
vegetup = ('Tomato','Potato','Cucumber','Ladyfingure','Okara')
type(vegetup)

tuple

In [60]:
len(vegetup)

5

In [61]:
vegetup[3]  # tuple indexing

'Ladyfingure'

In [62]:
vegetup[2][-2]

'e'

In [63]:
# mutablility test 

vegetup = ('Tomato','Potato','Cucumber','Ladyfingure','Okara')
vegetup[1]

'Potato'

In [64]:
vegetup[1] = 'Carrot'
vegetup

# It throws error because it is immutable , we cant modify elements in tuple

TypeError: 'tuple' object does not support item assignment

In [65]:
st = (['J&K','shrinagar'], ['maharashtra','mumbai'],['MP', 'bhopal'],['gujrat','Ahemdabad'])
st

# here is the lists inside the tuple

(['J&K', 'shrinagar'],
 ['maharashtra', 'mumbai'],
 ['MP', 'bhopal'],
 ['gujrat', 'Ahemdabad'])

In [66]:
st[1]

['maharashtra', 'mumbai']

In [67]:
st[1] ='hurrey'
st

# here we are trying to modify the whole element(list) from tuple
# and the tuple is immutable 
# Hence it will not change and throws error

TypeError: 'tuple' object does not support item assignment

In [71]:
st[1][0] = "Amcha Maharashtra"
st[1]

# here it is getting change because we modify th list data type in tuple ,
# List is mutable thats why it will change

['Amcha Maharashtra', 'mumbai']

In [72]:
st

(['J&K', 'shrinagar'],
 ['Amcha Maharashtra', 'mumbai'],
 ['MP', 'bhopal'],
 ['gujrat', 'Ahemdabad'])

 >## Dictionary
- It is an **orderd collection** of key and value pairs stored in a paired format 
- It is written inside braces
- keys of dictionary can only be created using **immutable** data type ; i.e keys cannot be mutable  
- Values can be of any data type

In [100]:
d ={}
d

{}

In [101]:
len(d)

0

In [102]:
dx = { }
len(dx)

0

In [82]:
d1 = {'Name' : 'Shahrukh', 'Age': 48, 'City' :['MH','Bombay']}
d1

{'Name': 'Shahrukh', 'Age': 48, 'City': ['MH', 'Bombay']}

In [83]:
d1['Name'], d1['Age'], d1["City"]

# here we have given the keys and fetch vlues

('Shahrukh', 48, ['MH', 'Bombay'])

In [77]:
d1[0]   ### dictionary is non indexable

KeyError: 0

In [78]:
# Mutablility test 

d1["Name"] = 'Rekha'
d1

{'Name': 'Rekha', 'Age': 48, 'City': 'Bombay'}

**You can only assec value by key , but key cannot get accessed by giving values in dictionry**

In [80]:
d1["Age"]

48

In [81]:
d1[48]

KeyError: 48

In [84]:
d1["City"]

['MH', 'Bombay']

In [85]:
d1['City'][0]

'MH'

**___________________________________________________________________________________________________________**

**____________________________________________________________________________________________________________**

In [86]:
l = [14]
t = (14)

In [88]:
print(type(l))
print(type(t))

<class 'list'>
<class 'int'>

In [89]:
l1 = ['Hi']
t1 = ('Hi')  # it should give type tuple , but tuple automaticily tore the elements data type ; if there is single element in it

In [91]:
print(type(l1))
print(type(t1))  # as tuple is immutable , there is no point to store the single element into the tuple

<class 'list'>
<class 'str'>

In [92]:
t2 = (23)
type(t2)

int

**Trick**

In [99]:
# if you wanted to store single element into the tuple and want its data type should only a tuple 
# then there is a trick 
t1 = ('Hi')
print(t1)
print(type(t1))

## Put comma after the element 
t2 = ('Hi',)
print(t2)
print(type(t2))

## It will make it tuple 
# Length will be 1 here 

print(len(t1))
print(len(t2))

Hi
<class 'str'>
('Hi',)
<class 'tuple'>
2
1

**_______________________________________________________________________**

**__________________________________________________________________________________**

> ## Set

- Unordered Collection of immutable heterogenous data items
- Mutable 
- **Non Indexible**
- It stores uniqe values
- it dosesnt store repeted element 
- it omits duplicate element

In [110]:
se = {1,8,'Hi',42.8,0}
se

{0, 1, 42.8, 8, 'Hi'}

In [111]:
s = {}
type(s)

# you cannot write empty set like this 
# it will give data type as dictionary

dict

In [113]:
# You have to write empty set as 
s = set()
type(s)

set

In [114]:
len(s)

0

In [118]:
sq = {1,4,4,6,3,3,3,3,1,1,9}
sq

{1, 3, 4, 6, 9}

In [119]:
sq [1]  # non indexible

TypeError: 'set' object is not subscriptable

In [124]:
sq.add(34)  # It is mutable 
sq

{1, 3, 4, 6, 9, 34}

In [123]:
sq.append(2) # we cant append here in set

AttributeError: 'set' object has no attribute 'append'

In [15]:
## We can only store immutable data type inside the set 
sg = {('hi', 2), 7,'hello',6,8,1,9,8,1}
sg

{('hi', 2), 1, 6, 7, 8, 9, 'hello'}

In [16]:
sg.add('welcome')   # add an element to set 
sg

{('hi', 2), 1, 6, 7, 8, 9, 'hello', 'welcome'}

In [18]:
sg.remove('hello')  # removing element from set 
sg


# sencond time runing a cell will throw error because at 1st time it is already removed 
# for second time it ill not found

KeyError: 'hello'

In [21]:
# another way to remove 
sg.discard('hi')
sg

{('hi', 2), 1, 6, 7, 8, 9, 'welcome'}

In [22]:
# delet all the items in set 

sg.clear()
sg

set()

In [24]:
# delet entire set with structure

del sg

In [25]:
sg  # it is deleted

NameError: name 'sg' is not defined

In [26]:
cars = {'Altroz','Harrier','Safari','Nexon'}
cars

{'Altroz', 'Harrier', 'Nexon', 'Safari'}

In [28]:
cars2 = cars.copy()  # copy set 
cars2

#creating copy and assigning variable name as cars2

{'Altroz', 'Harrier', 'Nexon', 'Safari'}

In [29]:
cars == cars2   # conformation

True

In [30]:
# id observatoion

id(cars), id(cars2)

(2009405198336, 2009405199680)

In [31]:
cars  # orignal file

{'Altroz', 'Harrier', 'Nexon', 'Safari'}

In [32]:
cars2   # copied file

{'Altroz', 'Harrier', 'Nexon', 'Safari'}

In [33]:
cars.add('me')  # adding elemet to original set 
cars

{'Altroz', 'Harrier', 'Nexon', 'Safari', 'me'}

In [34]:
cars2       # no changes will appeer in copied set , only change will seen in the original set

{'Altroz', 'Harrier', 'Nexon', 'Safari'}

### Set operations

In [37]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}
C = {5,6,7,8,9}

In [38]:
A | B # union

{1, 2, 3, 4, 5, 6, 7}

In [39]:
A.union(B)  # another way for union

{1, 2, 3, 4, 5, 6, 7}

In [40]:
A.union(B,C)  # union of ABC

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
c.update(B)   # set C is updated with Set B 
C

{5, 6, 7, 8, 9}

In [45]:
a = {1,2}
b = {5,6}
a.update(b)
a

{1, 2, 5, 6}

In [46]:
# Intersection 

a = {1,2,3,4}
b = {2,3,4,5}
a & b      # gives common items

{2, 3, 4}

In [48]:
a.intersection(b)

{2, 3, 4}

In [49]:
a.intersection_update(b)  # this will updaate that set a with set of  intersection

In [50]:
a

{2, 3, 4}

In [51]:
# difference 

print(a)
print(b)

{2, 3, 4}
{2, 3, 4, 5}

In [54]:
a = {1,2,3,4}
b = {4,5,6,7}
a-b     # elements that are not in another set

{1, 2, 3}

In [55]:
a.difference(b)

{1, 2, 3}

In [57]:
a.difference_update(b)
a

{1, 2, 3}

In [59]:
a

{1, 2, 3}

In [60]:
b

{4, 5, 6, 7}

In [58]:
# symetric difference 
# set of element in A and B but not in both 
# exclusive

a ^ b

{1, 2, 3, 4, 5, 6, 7}

In [61]:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 7}

In [66]:
a.symmetric_difference_update(b)
a     # a is update

{1, 2, 3, 4, 5, 6, 7}

**Subset Superset Disjoint**

In [80]:
a = {1,2,3,4,5,6,7,8}
b = {3,4,5,6,7}
c = {10,40,50}

In [81]:
a.issubset(b)  # check whether a is subset of b or not

False

In [82]:
b.issubset(a)

True

In [83]:
a.issuperset(b)

True

In [84]:
b.issuperset(a)

False

In [85]:
c.isdisjoint(b)

True

In [78]:
b.isdisjoint(a)

False

**Sum, max ,min ,len, enumerate, sorted**

In [86]:
sum(a) # sum of all element in set

36

In [87]:
min(a) # min of set

1

In [88]:
max(a) # max of set

8

In [89]:
len(A)

7

In [92]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8)]

In [94]:
q = sorted(A)
q

[1, 2, 3, 4, 5, 6, 7]

In [95]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [97]:
v = sorted(a, reverse = True)
v

[8, 7, 6, 5, 4, 3, 2, 1]

>## Dictionary

- Dictionary is a mutable data type in Python.
- A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
- Keys must be unique in a dictionary, duplicate values are allowe

In [98]:
dict1 = dict()   #empty dictionary
dict1

{}

In [99]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict
# mydict = {key: value}

{1: 'one', 2: 'two', 3: 'three'}

In [100]:
mydict = {'a':'one' , 'b':'two' , 'c':'three'} 
mydict

{'a': 'one', 'b': 'two', 'c': 'three'}

In [101]:
mydict.keys()   # returs all keys

dict_keys(['a', 'b', 'c'])

In [102]:
mydict.values()    # returns all values

dict_values(['one', 'two', 'three'])

In [103]:
mydict.items()

dict_items([('a', 'one'), ('b', 'two'), ('c', 'three')])

In [106]:
data = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat')}
data
# nested dictionary

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': ('Bat', 'cat')}

In [107]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'a': None, 'd': None, 'b': None}

In [108]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': 10, 'a': 10, 'd': 10, 'b': 10}

In [109]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [111]:
value.append(33)
mydict3

{'c': [10, 20, 30, 33],
 'a': [10, 20, 30, 33],
 'd': [10, 20, 30, 33],
 'b': [10, 20, 30, 33]}

In [112]:
# accessing items 

mydict

{'a': 'one', 'b': 'two', 'c': 'three'}

In [115]:
mydict['a']   # access item using key

'one'

In [117]:
mydict.get('a')  # acces item using method

'one'

In [118]:
# add item 
bio = {'Name':'Roshni','id':2001, 'add': 'Maharashtra'}
bio

{'Name': 'Roshni', 'id': 2001, 'add': 'Maharashtra'}

In [119]:
bio['id'] = 1995   # changing item 
bio

{'Name': 'Roshni', 'id': 1995, 'add': 'Maharashtra'}

In [122]:
bio.update(dict1)
bio

{'Name': 'Roshni', 'id': 1995, 'add': 'Maharashtra'}

In [128]:
bio['name'] = 'Shubh'  # shubh is dded

In [124]:
bio

{'Name': 'Roshni', 'id': 1995, 'add': 'Maharashtra', 'name': 'Shubh'}

In [126]:
bio.pop('id') # removing item in ditionary

1995

In [127]:
bio  # id is popped

{'Name': 'Roshni', 'add': 'Maharashtra', 'name': 'Shubh'}

In [129]:
bio.popitem()  # a random item is removes

('name', 'Shubh')

In [130]:
bio

{'Name': 'Roshni', 'add': 'Maharashtra'}

In [131]:
del bio # deleting whole dictionary

In [132]:
bio

NameError: name 'bio' is not defined

In [133]:
mydict = {'a':'one' , 'b':'two' , 'c':'three'} 
mydict

{'a': 'one', 'b': 'two', 'c': 'three'}

In [134]:
disco = mydict.copy()  # copy dictionary

In [135]:
disco

{'a': 'one', 'b': 'two', 'c': 'three'}

In [136]:
mydict

{'a': 'one', 'b': 'two', 'c': 'three'}

In [137]:
id(mydict), id(disco)

(2009402563008, 2009402152128)

In [138]:
# dictionary membership 

disco

{'a': 'one', 'b': 'two', 'c': 'three'}

In [139]:
'a' in disco  # check if a key os in dictionary or not

True

In [140]:
'id' in disco

False

In [141]:
'two' in disco    # membership test can only done for keys

False

### All / Any
- The all() method returns:

>True - If all all keys of the dictionary are true

>False - If any key of the dictionary is false

The **any()** function returns True if any key of the dictionary is True. If not, any() returns False

In [142]:
disco

{'a': 'one', 'b': 'two', 'c': 'three'}

In [143]:
all(disco)

True

In [144]:
any(disco)

True